/*GENERAL*/
/*THIS CSS RESET WAS NOT CREATED BY ME*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Note:this is the end of the CSS reset, additional general styles included below*/

body {
	/*background: url('http://onedesigncompany.com/images/bg-blk.jpg');*/
	background:url('site-background.jpg');
	min-height: 100%;
}

section {
	width: 1024px !important;
	margin: 0 auto;
	padding-top: 60px;
}

.lessonparameter {
	width: 1024px !important;
	margin: 0 auto;
	border-bottom: 2px solid black;
}

strong {
	font-weight: bold;
	display: block;
	color:#d3d3d3;
}

/*HEADER*/

.header {
 	background:url('binding_dark.png');
	z-index: 9;
	width:1100px;
	margin: 0 auto;
}

header {
	font-family: 'Denk One', sans-serif;
	color:white;
	padding-left: 10px;
	padding-top: 10px;
	font-size: 26px;
	/*background: url('binding_dark.png');*/
	z-index: 13;
	margin-right: 100px;
}

.header h3 {
	color:white;
	display: inline-block;
	margin-left: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	z-index: 10;
}

.header ul {
	float:right;
}

/*NAVBAR*/

nav {
	text-align: right;
	margin-top: -10px;
	z-index: 1000;
}

nav ul a {
	color:#9e9e9e;
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
	z-index: 99;
}

nav ul a:hover {
	color:#dddddd;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

nav .navulparameter {
	width:800px;
	position: relative;
	right:0;
	top:0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	width:120px;
	z-index: 13;
}

.fixednav {
	position: fixed;
	width: 100%;
	background:url('binding_dark.png');
}

.navparameter {
	width:1024px;
	margin:0 auto;
}

.toplink {
	float:right;
	clear:both;
}

nav ul {
	text-align: center;
}

.back-to-top {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 50px;
	background-color: rgba(0, 0, 0, .25);
	position: fixed;
	right: -4px;
	top: 25%;
	border-radius: 4px;
	color: #F5F5F5;
	z-index: 999;
	float:right;
	padding-bottom: 10px;
}

.back-to-top a {
	text-decoration: none;
	font-family: sans-serif;
	color: white;
}


/*LESSON EXPLANATIONS*/

.lessonexplain {
	height:180px;
	width:15%;
	/*border:1px solid red;*/
	display: inline-block;
	background-color: rgba(0,0,0,0.3);
	margin: 0 auto;
	/*position: relative;*/
	border-radius: 5px;
}

.lessonexplain:hover {
	background-color:rgba(0,0,0,0.5);
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.lessonexplain h3 {
	text-align: center;
	margin-top:20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	color:#d3d3d3;
}

.lessonsummary .lessonexplain p {
	font-size: 16px;
	font-weight: normal;
	margin-top: 20px;
	width:85%;
	margin-left: 10px;
	color:#d3d3d3;
}

.lessonsummary {
	padding-bottom: 60px;
	text-align: center;
	border-bottom: 2px solid black;
	margin-top: 50px;
}

.lessonsummary p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	font-weight: bold;
}

.question {
	padding-top: 30px;
}

.l3 a {
	text-decoration: none;
	color:#d3d3d3;
}

.l3 a:hover {
	color:black;
	-webkit-transition: all 0.5s ease-in 0.5s;
	-moz-transition: all 0.5s ease-in 0.5s;
	-o-transition: all 0.5s ease-in 0.5s;
	transition: all 0.5s ease-in 0.5s;
}

.lessons {
	height: 100%;
	width:100%;
	position: absolute;
	left: 0%;
	z-index: -5;
	color:#d3d3d3 !important;
	min-height: 100%;
}

.lessons h2 {
	color:black;
}

.lessons a {
	color:#d3d3d3 !important;
	font-family: sans-serif;
	font-size: 14px;
}

.lessons a:hover {
	color:black;
}

/*FAQ*/

.faqdivs {
	display: inline-block;
	padding-top: 10px;
	margin-top: 20px;
	width: 33%;
	padding-bottom: 10px;
}

.faqdivs h2 {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
}

.faqdivs ul {
	list-style-type: square;
}

.faqdivs p {
	font-family: 'Source Sans Pro', sans-serif;
	width:80%;
	margin-left:32px;
	text-align: justify;
}

.faqdivs ul li {
	font-family: 'Source Sans Pro', sans-serif;
}

.faqconstraint {
	width: 80%;
	margin-left: 20px;
}

.whycontinue {
	border-right: 1px solid black;
}

.howlong {
	border-right: 1px solid black;
}

.faq {
	border-bottom: 2px solid black;
	padding-bottom: 20px;
}

/*LESSON ONE*/

.lesson1 {
	top:100%;
}

.lesson1 h2 {
	background-color: rgba(186,218,85,0.8);
	border-radius: 25px;
	/*display: inline-block;*/
	padding:7px;
	border:1px solid black;
	/*margin-top: 50px;*/
	font-weight:bold;
	font-size: 24px;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 50px;
	/*margin:0 auto;*/
	/*margin-left: 10%;*/
	position: relative;
	z-index: 0;
	text-align: center;
}

.lesson1 h3 {
	/*display: inline-block;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	/*padding-left: 7px;*/
	text-align: center;
	padding-top: 15px;
}

.lesson1 p {
	/*display:inline-block;*/
	/*padding-left: 120px;*/
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 10px;
}

.gitexplaindivs {
	width:28%;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	height:450px;
	display: inline-block;
	border-radius: 5px;
}

.gitexplaindivs a {
	text-decoration: none;
	color:black;
	font-weight: bold;
}

.gitexplaindivs h3 {
	margin-top: 20px;
	padding-bottom: 15px;
}

.gitexplaindivs p {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 80%;
	padding-bottom: 20px;
}

.gitexplaincontain {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 35px;
}

/*LESSON TWO*/

.lesson2 {
	top:200%;
}

.lesson2 h2 {
	background-color: rgba(186,218,85,0.8);
	border-radius: 25px;
	/*display: inl'ine-block;*/
	padding:7px;
	border:1px solid black;
	/*margin-top: 50px;*/
	font-weight:bold;
	font-size: 24px;
	font-family: 'Source Sans Pro', sans-serif;
	/*margin-top: 85px;*/
	/*margin:0 auto;*/
	/*margin-left: 10%;*/
	position: relative;
	z-index: 0;
	text-align:center;
}

.lesson2 h3 {
	/*display: inline-block;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	/*padding-left: 7px;*/
	text-align: center;
	padding-top: 15px;
}

.lesson2 p {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	padding-top: 10px;
}

.lesson2 .gitexplaindivs p {
	padding-left: 0;
}

.lesson2 .gitexplaincontain {
	margin-bottom:0px;
	/*margin-top: 30px;*/
}

.shellexplaindivs {
	/*width:48%;*/
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	height:250px;
	display: inline-block;
	border-radius: 5px;
}

.terminalex {
	background-color: rgba(0,0,0,0.8) !important;
}

.terminalex:hover {
	background-color: rgba(0,0,0,0.8) !important;
}

.shellexplaindivs a {
	text-decoration: none;
	color:white;
	font-weight: bold;
}

.shellexplaindivs h3 {
	margin-top: 20px;
	padding-bottom: 15px;
}

.shellexplaindivs p {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 80%;
	padding-bottom: 20px;
}

.shellextrapadding {
	padding-bottom: 40px;
}

.shellexplaindiv2 {
	width:66% !important;
	/*background-color: rgba(0,0,0,0.7);*/
	color:#dddddd;
	font-family: courier;
	/*font-size: 14px;*/
	height:200px;
	text-align: left;
	/*margin-left: 20px;*/
	margin: 15px 0;
	display: inline-block;
	position:relative;
	top:-125px;
	left:0;
}

.shellexplaindiv2 h3 {
	/*padding-bottom:;*/
	display: inline-block;
	padding-left: 10px;
	font-size: 11px;
	margin-top: 5px;
	color:#008500;
}

.shellexplaindiv2 p {
	font-family:courier;
	color:#008500;
	font-size: 12px;
	padding-left: 5px;
	margin-top: -20px;
	color: white;
}

.shellexplaincontainer {
	width: 100%;
	height:300px;
	text-align: left;
}

.shellexplaincontainer p {
	text-align: left;
	margin-left: 5px;
	margin-bottom: -20px;
	padding-top: 10px;
	/*display: inline-block;*/
}

/*.shellexplaindiv2 .p1shell {
	text-align: left;
	position: relative;
	top:20px;
	margin-top: -40px;
}

.shellexplaindiv2 .p2shell {
	text-align: left;
	position: relative;
	top:24px;
	margin-top: -40px;
}*/

.cmdlist {
	height:220px;
	width:32%;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	display: inline-block;
	position: relative;
	/*right:-100px;*/
	top:30px;
	margin-top: 15px;
}

.cmdlist h3 {
	font-size: 18px;
	width: 70%;
	text-align: center;
	margin:0 auto;
	font-weight: bold;
}

.cmdlist p {
	font-size: 14px;
	width:85%;
	padding-bottom: 10px;
	margin: 0 auto;
	padding-left: 10px;
}

/*LESSON 3*/

.lesson3 {
	top:300%;
}

.lesson3 h2 {
	background-color: rgba(186,218,85,0.8);
	border-radius: 25px;
	/*display: inline-block;*/
	padding:7px;
	border:1px solid black;
	/*margin-top: 50px;*/
	font-weight:bold;
	font-size: 24px;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 50px;
	/*margin:0 auto;*/
	/*margin-left: 10%;*/
	position: relative;
	z-index: 0;
	text-align: center;
}

.lesson3 h3 {
	/*display: inline-block;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	/*padding-left: 7px;*/
	text-align: center;
	padding-top: 15px;
	margin-top: 22px;
}

.lesson3 p {
	/*display:inline-block;*/
	/*padding-left: 120px;*/
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 10px;
}

.onlineexplaindivs {
	width:60%;
	text-align: left;
	background-color: rgba(0,0,0,0.3);
	height:250px;
	display: inline-block;
	border-radius: 5px;
}

.onlineexplaindivs a {
	text-decoration: none;
	color:black;
	font-weight: bold;
}

.onlineexplaindivs h3 {
	margin-top: 20px;
	padding-bottom: 15px;
}

.onlineexplaindivs p {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 80%;
	padding-bottom: 20px;
	display: inline-block;
	margin-left: 60px;
}

.onlinerepocontain {
	margin-top: 30px;
	text-align: left;
	margin-bottom: 35px;
}

.downloads {
	display: inline-block;
	background-color: rgba(0,0,0,0.4);
	height: 250px;
	width:32%;
	position: relative;
	top: 0;
	right:0;
	border-radius: 5px;
	/*margin-right: -20px;*/
	margin-left: 77px;
}

.downloads a {
	color:#dddddd;
	text-decoration: none;
	border:1px solid #2c3747;
	border-radius: 5px;
	background-color: #2c3747;
	padding:5px;
	/*margin: 0 auto;*/
	position: relative;
	top:20px;
	left:110px;
}

.downloads p {
	margin-top: 35px;
}

.tutorialimg {
	margin:20px auto 0 auto;
}

.tutorialimg h3 {
	/*font-family:sans-serif;*/
	border:1px solid black;
	margin-top: 0;
	padding-top: 0;
	padding:3px !important;
	border-radius:100px;
	background-color: rgba(0,0,0,0.3);
	color:#bbbbbb;
}

.tutorialimg .signupimg {
	width:220px;
	margin-right: 20px;
	margin-left: 10px;
}

.tutorialimg .newrepobutton {
	margin-right: 20px;
	width:275px;
}

.tutorialimg .namerepositoryimg {
	width:400px;
}

.tutorialimg h3 {
	text-align: center;
	display: inline-block;
}

/*LESSON 4*/

.lesson4 {
	top:400%;
}

.lesson4 h2 {
	background-color: rgba(186,218,85,0.8);
	border-radius: 25px;
	padding:7px;
	border:1px solid black;
	font-weight:bold;
	font-size: 24px;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 50px;
	position: relative;
	z-index: 0;
	text-align: center;
}

.lesson4 h3 {
	/*display: inline-block;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	/*padding-left: 7px;*/
	text-align: center;
	padding-top: 15px;
	margin-top: 22px;
}

.lesson4 p {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 10px;
}

.localclonedivs {
	width:66%;
	text-align: left;
	background-color: rgba(0,0,0,0.3);
	height:250px;
	display: inline-block;
	border-radius: 5px;
	margin-top: 10px;
}

.localclonedivs a {
	text-decoration: none;
	color:black;
	font-weight: bold;
}

.localclonedivs h3 {
	margin-top: 25px;
	padding-bottom: 15px;
}

.localclonedivs p {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 80%;
	padding-bottom: 20px;
	display: inline-block;
	margin-left: 60px;
}

.clonecontain {
	/*margin-top: 30px;*/
	text-align: left;
	margin-bottom: 35px;
}

.cloneimg img {
	width:30%;
	border-radius: 5px;
	margin-top: 10px;
	float:right;
}

.cloneterminal {
	height:200px;
	width:50% !important;
	background-color:rgba(0,0,0,0.8);
	border-radius: 5px;
	margin-top: 25px;
}

.cloneterminal p {
	font-family:courier;
	color:#008500;
	font-size: 12px;
	/*padding-left: 5px;*/
	margin-top: -5px;
	color:white;
}

.cloneterminal h3 {
	display: block;
	text-align: left;
	padding-left: 10px;
	font-size: 11px;
	margin-top: 5px;
	color:#008500;font-size: 
}

/*LESSON 5*/

.lesson5 {
	top:500%;
}

.lesson5 h2 {
	background-color: rgba(186,218,85,0.8);
	border-radius: 25px;
	padding:7px;
	border:1px solid black;
	font-weight:bold;
	font-size: 24px;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 50px;
	position: relative;
	z-index: 0;
	text-align: center;
}

.lesson5 h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	text-align: center;
	padding-top: 15px;
	margin-top: 22px;
}

.lesson5 p {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 10px;
}

.localsavedivs {
	width:60%;
	text-align: left;
	background-color: rgba(0,0,0,0.3);
	height:250px;
	display: inline-block;
	border-radius: 5px;
}

.localsavedivs a {
	text-decoration: none;
	color:black;
	font-weight: bold;
}

.localsavedivs h3 {
	margin-top: 20px;
	padding-bottom: 15px;
}

.localsavedivs p {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 80%;
	padding-bottom: 20px;
	display: inline-block;
	margin-left: 60px;
}

.localsavecontain {
	margin-top: 30px;
	text-align: left;
	margin-bottom: 35px;
}

/*LESSON 6*/

.lesson6 {
	top:600%;
}

.lesson6 h2 {
	background-color: rgba(186,218,85,0.8);
	border-radius: 25px;
	padding:7px;
	border:1px solid black;
	font-weight:bold;
	font-size: 24px;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 50px;
	position: relative;
	z-index: 0;
	text-align: center;
}

.lesson6 h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	text-align: center;
	padding-top: 15px;
	margin-top: 22px;
}

.lesson6 p {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 10px;
}

.gitpushdivs {
	width:60%;
	text-align: left;
	background-color: rgba(0,0,0,0.3);
	height:250px;
	display: inline-block;
	border-radius: 5px;
}

.gitpushdivs a {
	text-decoration: none;
	color:black;
	font-weight: bold;
}

.gitpushdivs h3 {
	margin-top: 20px;
	padding-bottom: 15px;
}

.gitpushdivs p {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 80%;
	padding-bottom: 20px;
	display: inline-block;
	margin-left: 60px;
}

.gitpushcontain {
	margin-top: 30px;
	text-align: left;
	margin-bottom: 35px;
}

/*FOOTER*/

footer {
	position: absolute;
	top:680%;
	margin:0 auto;
}

.footernav {
	float:left;
	clear:both;
}

.footernav ul {
	display:inline-block;
}

.footernav ul li {
	display: inline-block;
	list-style-type: none;
	margin-left:0;
}

.footernav ul li a {
	display:inline-block;
	background-color:#4E5964;
	padding:5px;
	width:70px;
	border-left:2px solid #3D464E;
	padding-top:45px;
	padding-bottom:45px;
	transition: all 0.2s ease-in;
}

.footernav ul li a {
	width:120px;
	height: 40px;
}

.footer ul li a:hover {
	background-color: #0f0 !important;
	width:120px;
	height:40px;
}

.findongithub:hover {
	background-color:rgb(121,25,6);
}

.emailme:hover {
	background-color: rgb(139,55,20);
}

/*RESPONSIVE DESIGN*/




