/*GENERAL*/
/*THIS CSS RESET WAS NOT CREATED BY ME*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Note:this is the end of the CSS reset, additional general styles included below*/

body {
	/*background: url('http://onedesigncompany.com/images/bg-blk.jpg');*/
	background:url('site-background.jpg');
}

section {
	width: 1024px !important;
	margin: 0 auto;
	padding-top: 60px;
}

.lessonparameter {
	width: 1024px !important;
	margin: 0 auto;
	border-bottom: 2px solid black;
}

strong {
	font-weight: bold;
	display: block;
}

/*HEADER*/

.header {
 	background:url('binding_dark.png');
	z-index: 9;
	width:1100px;
	margin: 0 auto;
}

header {
	font-family: 'Denk One', sans-serif;
	color:white;
	padding-left: 10px;
	padding-top: 10px;
	font-size: 26px;
	/*background: url('binding_dark.png');*/
	z-index: 13;
	margin-right: 100px;
}

.header h3 {
	color:white;
	display: inline-block;
	margin-left: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	z-index: 10;
}

.header ul li:nth-child(5) {
	margin-right:120px;
}

/*.gitlogo {
	height: 60px;
	width: 80px;
	position: relative;
}

.gitlogo:before {
	content: "";
	position: absolute;
	top:0;
	left:0;
	background: url('git_logo.png') 0 0 no-repeat;
	height: 60px;
	width: 80px;
	z-index: 100;
}*/

/*NAVBAR*/

nav {
	text-align: right;
	margin-top: -10px;
	z-index: 1000;
}

nav ul a {
	color:#9e9e9e;
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
	z-index: 99;
}

nav ul a:hover {
	color:#dddddd;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	width:120px;
	z-index: 13;
}

.fixednav {
	position: fixed;
	width: 100%;
	background:url('binding_dark.png');
}

.navparameter {
	width:1024px;
	margin:0 auto;
}

.toplink {
	float:right;
	clear:both;
}

/*LESSON EXPLANATIONS*/

.lessonexplain {
	height:180px;
	width:15%;
	/*border:1px solid red;*/
	display: inline-block;
	background-color: rgba(0,0,0,0.3);
	margin: 0 auto;
	/*position: relative;*/
	border-radius: 5px;
}

.lessonexplain:hover {
	background-color:rgba(0,0,0,0.5);
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.lessonexplain h3 {
	text-align: center;
	margin-top:20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
}

.lessonsummary .lessonexplain p {
	font-size: 16px;
	font-weight: normal;
	margin-top: 20px;
	width:85%;
	margin-left: 10px;
}

.lessonsummary {
	padding-bottom: 60px;
	text-align: center;
	border-bottom: 2px solid black;
	margin-top: 50px;
}

.lessonsummary p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	font-weight: bold;
}

.question {
	padding-top: 30px;
}

.l3 a {
	text-decoration: none;
	color:black;
}

.l3 a:hover {
	color:#dddddd;
	-webkit-transition: all 0.5s ease-in 0.5s;
	-moz-transition: all 0.5s ease-in 0.5s;
	-o-transition: all 0.5s ease-in 0.5s;
	transition: all 0.5s ease-in 0.5s;
}

/*FAQ*/

.faqdivs {
	display: inline-block;
	padding-top: 10px;
	margin-top: 20px;
	width: 33%;
	padding-bottom: 10px;
}

.faqdivs h2 {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
}

.faqdivs ul {
	list-style-type: square;
}

.faqdivs p {
	font-family: 'Source Sans Pro', sans-serif;
	width:80%;
	margin-left:32px;
	text-align: justify;
}

.faqdivs ul li {
	font-family: 'Source Sans Pro', sans-serif;
}

.faqconstraint {
	width: 80%;
	margin-left: 20px;
}

.whycontinue {
	border-right: 1px solid black;
}

.howlong {
	border-right: 1px solid black;
}

.faq {
	border-bottom: 2px solid black;
	padding-bottom: 20px;
}

/*LESSON ONE*/

.lesson1 {
	height: 100%;
	width:100%;
	position: absolute;
	top:100%;
	left:0%;
	z-index: -5;
}

.lesson1 h2 {
	background-color: rgba(186,218,85,0.8);
	border-radius: 25px;
	/*display: inline-block;*/
	padding:7px;
	border:1px solid black;
	/*margin-top: 50px;*/
	font-weight:bold;
	font-size: 24px;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 50px;
	/*margin:0 auto;*/
	/*margin-left: 10%;*/
	position: relative;
	z-index: 0;
	text-align: center;
}

.lesson1 h3 {
	/*display: inline-block;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	/*padding-left: 7px;*/
	text-align: center;
	padding-top: 15px;
}

.lesson1 p {
	/*display:inline-block;*/
	/*padding-left: 120px;*/
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 10px;
}

.gitexplaindivs {
	width:28%;
	text-align: center;
	background-color: rgba(0,0,0,0.3);
	height:450px;
	display: inline-block;
	border-radius: 5px;
}

.gitexplaindivs a {
	text-decoration: none;
	color:black;
	font-weight: bold;
}

.gitexplaindivs a:hover {
	color:#dddddd;
	/*transition: all 0.5s ease-in;*/
}

.gitexplaindivs h3 {
	margin-top: 20px;
	padding-bottom: 15px;
}

.gitexplaindivs:hover {
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: all 0.5s ease-in 0.5s;
	-moz-transition: all 0.5s ease-in 0.5s;
	-o-transition: all 0.5s ease-in 0.5s;
	transition: all 0.5s ease-in 0.5s;
}

.gitexplaindivs p {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 80%;
	padding-bottom: 20px;
}

.gitexplaincontain {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 35px;
}

/*LESSON TWO*/

.lesson2 {
	position: absolute;
	height: 100%;
	width: 100%;
	top:200%;
	left: 0%;
	z-index: -5;
}

.lesson2 h2 {
	background-color: rgba(186,218,85,0.8);
	border-radius: 25px;
	/*display: inl'ine-block;*/
	padding:7px;
	border:1px solid black;
	/*margin-top: 50px;*/
	font-weight:bold;
	font-size: 24px;
	font-family: 'Source Sans Pro', sans-serif;
	/*margin-top: 85px;*/
	/*margin:0 auto;*/
	/*margin-left: 10%;*/
	position: relative;
	z-index: 0;
	text-align:center;
}

.lesson2 h3 {
	/*display: inline-block;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	/*padding-left: 7px;*/
	text-align: center;
	padding-top: 15px;
}

.lesson2 p {
	/*display:inline-block;*/
	/*padding-left: 120px;*/
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	padding-top: 10px;
}

.lesson2 .gitexplaindivs p {
	padding-left: 0;
}

.lesson2 .gitexplaincontain {
	margin-bottom:0px;
	/*margin-top: 30px;*/
}

.shellexplaindivs {
	/*width:48%;*/
	text-align: center;
	background-color: rgba(0,0,0,0.3);
	height:250px;
	display: inline-block;
	border-radius: 5px;
}

.terminalex {
	background-color: rgba(0,0,0,0.8) !important;
}

.terminalex:hover {
	background-color: rgba(0,0,0,0.8) !important;
}

.shellexplaindivs a {
	text-decoration: none;
	color:black;
	font-weight: bold;
}

.shellexplaindivs a:hover {
	color:#dddddd;
	-webkit-transition: all 0.5s ease-in 0.5s;
	-moz-transition: all 0.5s ease-in 0.5s;
	-o-transition: all 0.5s ease-in 0.5s;
	transition: all 0.5s ease-in 0.5s;
}

.shellexplaindivs h3 {
	margin-top: 20px;
	padding-bottom: 15px;
}

.shellexplaindivs:hover {
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: all 0.5s ease-in 0.5s;
	-moz-transition: all 0.5s ease-in 0.5s;
	-o-transition: all 0.5s ease-in 0.5s;
	transition: all 0.5s ease-in 0.5s;
}

.shellexplaindivs p {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 80%;
	padding-bottom: 20px;
}

.shellextrapadding {
	padding-bottom: 40px;
}

.shellexplaindiv2 {
	width:50% !important;
	/*background-color: rgba(0,0,0,0.7);*/
	color:#dddddd;
	font-family: courier;
	/*font-size: 14px;*/
	height:200px;
	text-align: left;
	/*margin-left: 20px;*/
	margin: 15px 0;
	display: inline-block;
	position:relative;
	top:-125px;
	left:0;
}

.shellexplaindiv2 h3 {
	/*padding-bottom:;*/
	display: inline-block;
	padding-left: 10px;
	font-size: 11px;
	margin-top: 5px;
	color:#008500;
}

.shellexplaindiv2 p {
	font-family:courier;
	color:#008500;
	font-size: 12px;
	padding-left: 5px;
	margin-top: -20px;
}

.shellexplaincontainer {
	width: 100%;
	height:300px;
	text-align: left;
}

.shellexplaincontainer p {
	text-align: left;
	margin-left: 5px;
	margin-bottom: -20px;
	padding-top: 10px;
	/*display: inline-block;*/
}

/*.shellexplaindiv2 .p1shell {
	text-align: left;
	position: relative;
	top:20px;
	margin-top: -40px;
}

.shellexplaindiv2 .p2shell {
	text-align: left;
	position: relative;
	top:24px;
	margin-top: -40px;
}*/

.cmdlist {
	height:200px;
	width:40%;
	background-color: rgba(0,0,0,0.4);
	border-radius: 5px;
	display: inline-block;
	position: relative;
	right:-100px;
	top:10px;
	margin-top: 15px;
}

.cmdlist h3 {
	font-size: 18px;
	width: 70%;
	text-align: center;
	margin:0 auto;
	font-weight: bold;
}

.cmdlist p {
	font-size: 14px;
	width:85%;
	padding-bottom: 10px;
	margin: 0 auto;
	padding-left: 10px;
}

/*LESSON 3*/

.lesson3 {
	height: 100%;
	width:100%;
	position: absolute;
	top:300%;
	left:0%;
	z-index: -5;
}

.lesson3 h2 {
	background-color: rgba(186,218,85,0.8);
	border-radius: 25px;
	/*display: inline-block;*/
	padding:7px;
	border:1px solid black;
	/*margin-top: 50px;*/
	font-weight:bold;
	font-size: 24px;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 50px;
	/*margin:0 auto;*/
	/*margin-left: 10%;*/
	position: relative;
	z-index: 0;
	text-align: center;
}

.lesson3 h3 {
	/*display: inline-block;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	/*padding-left: 7px;*/
	text-align: center;
	padding-top: 15px;
	margin-top: 22px;
}

.lesson3 p {
	/*display:inline-block;*/
	/*padding-left: 120px;*/
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 10px;
}

.onlineexplaindivs {
	width:60%;
	text-align: left;
	background-color: rgba(0,0,0,0.3);
	height:250px;
	display: inline-block;
	border-radius: 5px;
}

.onlineexplaindivs a {
	text-decoration: none;
	color:black;
	font-weight: bold;
}

.onlineexplaindivs a:hover {
	color:#dddddd;
	/*transition: all 0.5s ease-in;*/
}

.onlineexplaindivs h3 {
	margin-top: 20px;
	padding-bottom: 15px;
}

.onlineexplaindivs:hover {
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: all 0.5s ease-in 0.5s;
	-moz-transition: all 0.5s ease-in 0.5s;
	-o-transition: all 0.5s ease-in 0.5s;
	transition: all 0.5s ease-in 0.5s;
}

.onlineexplaindivs p {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 80%;
	padding-bottom: 20px;
	display: inline-block;
	margin-left: 60px;
}

.onlinerepocontain {
	margin-top: 30px;
	text-align: left;
	margin-bottom: 35px;
}

.downloads {
	display: inline-block;
	background-color: rgba(0,0,0,0.4);
	height: 250px;
	width:32%;
	position: relative;
	top: 0;
	right:0;
	border-radius: 5px;
}

.downloads a {
	color:#dddddd;
	text-decoration: none;
	border:1px solid #2c3747;
	border-radius: 5px;
	background-color: #2c3747;
	padding:5px;
	/*margin: 0 auto;*/
	position: relative;
	top:20px;
	left:110px;
}

.downloads a:hover {
	color:#9e9e9e;
}

.downloads p {
	margin-top: 35px;
}

/*FOOTER*/

.footer {
	position: fixed;
	bottom: 0;
	right:20px;
	/*color:white;*/
	background-color: rgba(0,0,0,0.7);
	border:1px solid white;
	padding: 7px 7px 0 7px;
	/*font-family: sans-serif;*/
	border-radius: 5px;
}

.footer a {
	color:white;
	font-size: 13px;
	font-family: sans-serif;
}


/*RESPONSIVE DESIGN*/



